
body{
    
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: sans-serif, Arial;
    background: #EDF2C5;
    min-height: 100vh;
}

/* --- Header --- */
header{
    display: flex;
    width: 1120px;
    margin: 36px auto 20px; 
    justify-content: space-between;
    align-items: center;
}
.bigtitle{
    color:#778A50;
    font-family: Noto Sans;
    font-size: 44px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    margin: 0;
}
.btn {
    display: flex;
    align-items: center;
}
.btn img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.divider {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #7B8C42;
    margin: 0 15px;
}
.button {
    text-decoration: none;
    color: #446600;
    border: 1px solid #446600;
    padding: 4px 12px;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 5px;
}
    
/* --- Navigation --- */
nav{
    margin: 0 auto 20px;
    box-sizing: border-box;
    display: flex;
    align-items:center;
    width: 1120px;
    height: 44px;
    border-radius: 3px;
    background-color: #778A50;
}
nav a{
    color: var(--background, #EDF2C5);
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
    
    margin: 0; 
    text-decoration: none;
    
    
    display: inline-block;
    padding: 10px 30px; 
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: #446600; 
    color: #EDF2C5; 
}

/* --- Main Content --- */
.content{
    margin: 0 auto;
    width: 1120px;
    flex-shrink: 0;
}
.pumpkin{
    width: 100%;
    height: 448px;
}


.side-by-side-sections{
    width: 1120px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.vegetables{
    width: 528px;
    height: 201px;
}


.vegetable-images-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
    width: 100%; 
}

.title_vegetables{
    box-sizing: border-box;
    display: flex;
    height: 45px;
    padding: 10px 433px 11px 30px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    background: var(--Primary, #778A50);
    color: #F7FBDA;
    line-height: 150%;
    font-weight: 600;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 528px;
    height: 201px;
}
.title_contact{
    box-sizing: border-box;
    display: flex;
    height: 45px;
    padding: 10px 433px 11px 30px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3px;
    background: var(--Primary, #778A50);
    font-size: 16px;
    color: #F7FBDA;
    line-height: 150%;
    font-weight: 600;
}
.CONT{
    box-sizing: border-box;
    display: flex;
    width: 528px;
    height: 140px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-shrink: 0;
    background: var(--content_bg, #F7FBDA);
    font-family: Noto Sans;
    font-size: 12px;
    justify-content: center; 
    color: #7D7D7D;
}
.divider2 {
    display: block;         
    width: 100%;            
    height: 1px;            
    background-color: #7D7D7D;
    margin: 10px 0;         
}

/* --- Footer --- */
.site-footer{
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: var(--Primary, #778A50);
}
.site-footer p{
    color: var(--background, #EDF2C5);
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}